 
 

<%- include('header.ejs', {title:'About Page'}); -%>



   
 <!-- Comments -->
 <div class="post-comments">
   <div class="section-title">
    
        <h2 class="wow fadeInUp" data-wow-delay=".4s"><font color="FF9899">ABOUT</font> ME</h2>
        <p class="wow fadeInUp" data-wow-delay=".6s">I person with creativity and passion for learning.</p>
    </div>

    <ul class="comments-list">
        <li>
            <div class="comment-img">
                <img src="/images/author-thumb.jpg" alt="img">
            </div>
            <div class="comment-desc">
                <div class="desc-top">
                    <h1>HENIL PATEL</h1>
                    <span  class="wow fadeInUp"><h6> Active Learner</h6></span>
                    <span class="date"></span>
                </div>
                <p>
                    I believe in investing my tremendous hardwork in order to learn as well as enhance my current skill level.
                    I always like to originate some creative things which is benificial to society.<br>

                    Apart from my professionalism, I am an active member of YOGESWAR SWADHYAY Parivar through this club I pass the some Samskaras and moral values based on Shrimad Bhagavad Gita to other people. 
                </p>
            </div>
        </li>
    </ul>
</div>
<div class="comment-form">
    <h3 class="comment-reply-title">Leave a comment</h3>
    <form action="#" method="POST">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="form-box form-group">
                    <input type="text" name="name" class="form-control form-control-custom"
                        placeholder="Website URL" />
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="form-box form-group">
                    <input type="text" name="email" class="form-control form-control-custom"
                        placeholder="Your Name" />
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="form-box form-group">
                    <input type="email" name="email"
                        class="form-control form-control-custom" placeholder="Your Email" />
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="form-box form-group">
                    <input type="text" name="name" class="form-control form-control-custom"
                        placeholder="Phone Number" />
                </div>
            </div>
            <div class="col-12">
                <div class="form-box form-group">
                    <textarea name="#" class="form-control form-control-custom"
                        placeholder="Your Comments"></textarea>
                </div>
            </div>
            <div class="col-12">
                <div class="button">
                    <button type="submit" class="btn">Post Comment</button>
                </div>
            </div>
        </div>
    </form>
</div>
</div>
</div>
</div>



<%- include('footer.ejs'); -%>

