    <!-- Start Footer Area -->
    
    <div class="wrapper">
    <footer class="page-footer ">
      
        <!-- Copyright -->
        <div class="text-center p-3">
          © 2022 Copyright:
          <a class="text-light" href="https://mdbootstrap.com/">HenilPatel.com</a>
        </div>
        <!-- Copyright -->
      </footer>

    </div>
    
      <!--/ End Footer Area -->

    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top">
        <i class="lni lni-chevron-up"></i>
    </a>


    
    <script type="text/javascript">

        //====== counter up 
        var cu = new counterUp({
            start: 0,
            duration: 2000,
            intvalues: true,
            interval: 100,
            append: " ",
        });
        cu.start();
    </script>

    </body>
    </html>

