        <!-- Start Hero Area -->
        <section id="home" class="hero-area" block-size = auto>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-12 col-12">
                        <div class="hero-content">
                            <h1 class="wow fadeInLeft" data-wow-delay=".4s">I am Henil Patel</h1>
                            <p class="wow fadeInLeft" data-wow-delay=".6s">Software Programmer, Artificial Intelligence Developer, Web Developer</p>
                            <div class="button wow fadeInLeft" data-wow-delay=".8s">
                                <a href="/About" class="btn"><i href=""></i> Learn About Me</a>
                                <a href="https://www.linkedin.com/in/henil-patel-615882148/"  class="btn btn-alt"><i class="fab fa-linkedin-in" color="blue"></i> LinkedIn</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-12 col-12">
                        <div class="hero-image wow fadeInRight" data-wow-delay=".4s">
                            <img src="/images/hero/portfolio.png" alt="#">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Hero Area -->