


<%- include('header.ejs', {title:'Projects Page'}); -%>



 <!-- Start Achievement Area -->
 <section class="our-achievement section">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-md-12 col-12">
                <div class="title">
                    <h2>Skills Across Various Platforms</h2>
                    <p>Ability of working on cross platform applications and technologies.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-12 col-12">
                <div class="row">
                    <div class="col-lg-3 col-md-2 col-10">
                        <div class="single-achievement wow fadeInUp" data-wow-delay=".2s">
                            <h3 class="counter"><span id="secondo1" class="countup" cup-end="100">100</span>%</h3>
                            <p>HTML</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-2 col-10">
                        <div class="single-achievement wow fadeInUp" data-wow-delay=".2s">
                            <h3 class="counter"><span id="secondo1" class="countup" cup-end="85">85</span>%</h3>
                            <p>JAVASCRIPT</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-2 col-10">
                        <div class="single-achievement wow fadeInUp" data-wow-delay=".2s">
                            <h3 class="counter"><span id="secondo1" class="countup" cup-end="80">80</span>%</h3>
                            <p>PYTHON</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-2 col-10">
                        <div class="single-achievement wow fadeInUp" data-wow-delay=".4s">
                            <h3 class="counter"><span id="secondo2" class="countup" cup-end="98">98</span>%</h3>
                            <p>SQL</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Achievement Area -->


<!-- Start Team Area -->
 <section id="team" class="team section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h3 class="wow zoomIn" data-wow-delay=".2s">Projects</h3>
                    <h2 class="wow fadeInUp" data-wow-delay=".4s">Development</h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s">I have been working on multipale projects based on various technologies and diffirent 
                        platforms.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Start Single Team -->
                <div class="single-team wow fadeInUp" data-wow-delay=".2s">
                    <div class="image">
                        <img  src="/images/img/education.jfif"  style="height:14rem;"   alt="#">
                    </div>
                    <div class="content">
                        <div class="row align-items-center">
                            <div class="col-lg-7 col-12">
                                <div class="text">
                                    <h3><a href="javascript:void(0)">Education Redefine System</a></h3>
                                    <!-- <h5>Senior Designer</h5> -->
                                </div>
                            </div>
                            <div class="col-lg-5 col-12">
                                <ul class="social">
                                    <li><a href="javascript:void(0)"><i class="lni lni-twitter-original"></i></a>
                                    </li>
                                    <li><a href="javascript:void(0)"><i class="lni lni-linkedin-original"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Team -->
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Start Single Team -->
                <div class="single-team wow fadeInUp" data-wow-delay=".4s">
                    <div class="image">
                        <img src="/images/img/python.jfif" style="height:14rem;" alt="#">
                    </div>
                    <div class="content">
                        <div class="row align-items-center">
                            <div class="col-lg-7 col-12">
                                <div class="text">
                                    <h3><a href="javascript:void(0)">AI Based Table Reservation System</a></h3>
                                    <!-- <h5>Senior Designer</h5> -->
                                </div>
                            </div>
                            <div class="col-lg-5 col-12">
                                <ul class="social">
                                    <li><a href="javascript:void(0)"><i class="lni lni-twitter-original"></i></a>
                                    </li>
                                    <li><a href="javascript:void(0)"><i class="lni lni-linkedin-original"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Team -->
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Start Single Team -->
                <div class="single-team wow fadeInUp" data-wow-delay=".6s">
                    <div class="image">
                        <img src="/images/img/volunteer.png"  style="height:14rem;"  alt="#">
                    </div>
                    <div class="content">
                        <div class="row align-items-center">
                            <div class="col-lg-7 col-12">
                                <div class="text">
                                    <h3><a href="javascript:void(0)">Active Volunteer</a></h3>
                                    <!-- <h5>Senior Designer</h5> -->
                                </div>
                            </div>
                            <div class="col-lg-5 col-12">
                                <ul class="social">
                                    <li><a href="javascript:void(0)"><i class="lni lni-twitter-original"></i></a>
                                    </li>
                                    <li><a href="javascript:void(0)"><i class="lni lni-linkedin-original"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Team -->
            </div>
        </div>
    </div>
</section>
<!-- End Team Area -->


<%- include('footer.ejs'); -%>
